
.navbar {
    background-color: rgb(11, 199, 193);
} 
.nav-link {
    color: black;
    font-size: 25px;
    font-family: "Santral W01"
}
.nav-link:hover { 
    color: rgb(197, 241, 241); 
} 
.active>.nav-link {
    background-color: rgb(138, 243, 243);
}
