/* nav.navbar.navbar-default {
    margin-bottom: 0; 
}
.navbar {
    background-color: black;
}
.navbar-nav .nav-link {
    font-family: serif;
}    

.nav-link {
    color: white;
    font-size: 20px;
}
.nav-link:hover { 
    color: rgb(60, 165, 250); 
}  
.active>.nav-link {
    color: rgb(60, 165, 250);
}


 */

.navbar {
    background-color: rgb(10, 186, 181);
} 
.nav-link {
    color: black;
    font-size: 20px;
}
.nav-link:hover { 
    color: purple; 
} 
.active>.nav-link {
    background-color: red;
}
